{% extends 'base.html' %}


{% block content %}
<!-- <br>
<br>
<main class="container py-5">
    <section class="card card-body">

        <h1 class="display-1 text-center">Comunidad</h1>
    
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur debitis similique officiis perferendis hic, corrupti beatae. Quibusdam vel nobis a ipsam magni debitis neque, atque minima esse quia, ipsa, quos quas totam recusandae sunt. Assumenda, obcaecati reiciendis? Pariatur neque saepe dolores magni similique. Ducimus a corrupti vitae, recusandae veritatis atque.
        </p>
    </section>
</main> -->

<br>
<br>
<main class="container py-5">
    <section class="card card-body">
        <ul>
            {% for noticia in noti %}
            <li>
                <h1>{{noticia.titulo}}</h1>
                <p>{{noticia.descripcion}}</p>
                <a href="{{noticia.url}}">Link de noticia</a>
                <br>
                <a href="{{noticia.url_img}}">Link de foto</a>
                <br> 
                <br>
                <p>{{noticia.usuario}}</p>
                
            </li>
            {% endfor %}
        </ul>
    </section>
</main>
{% endblock %} 