{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- <br>
<br>
<main class="container py-5">
    <section class="card card-body">

        <h1 class="display-1 text-center">Comunidad</h1>
    
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur debitis similique officiis perferendis hic, corrupti beatae. Quibusdam vel nobis a ipsam magni debitis neque, atque minima esse quia, ipsa, quos quas totam recusandae sunt. Assumenda, obcaecati reiciendis? Pariatur neque saepe dolores magni similique. Ducimus a corrupti vitae, recusandae veritatis atque.
        </p>
    </section>
</main> -->
<head>
    <link type="text/css" href="{% static 'css/comunidad.css' %}" rel ="stylesheet"/>
</head>
<br>
<br>
<main class="container py-5">
    <section class="card card-body">
        <h1>Noticias publicadas por la comunidad</h1>
    </section>
</main> 

<main class="container py-5">
    <section class="card card-body">
        <ul>
            {% if flag == 1 %}
                {% for noticia in noti %}
                    <main class="container py-5">
                        <section class="card card-body">
                            <h1 class="text-center"><a class="text-center" href="{{noticia.url}}">{{noticia.titulo}}</a></h1>
                            <p class="text-center">{{noticia.descripcion}}</p>
                            <img src="{{noticia.url_img}}" class="center"/></a>
                            <br>
                            <p class="text-center">Publicado por {{noticia.usuario}}</p>
                            <form class="text-center" action="{% url 'agregar_like' noticia.id user %}" method="post">
                                {% csrf_token %}
                                {% if user in noticia.laikeros %}
                                    <button>Dislike</button>
                                {% else %}
                                    <button>like</button>
                                {% endif %}
                                <small>{{noticia.likes}}</small>
                            </form>
                        </section>
                    </main>    

                 {% endfor %}
            {% else %}
            No hay noticias de la comunidad, ¿quieres publicar una? <a href="/inicio">Sube una noticia</a>
            {% endif %}
        </ul>
    </section>
</main>
{% endblock %} 