{% extends 'base.html' %}


{% block content %}
<!-- <br>
<br>
<main class="container py-5">
    <section class="card card-body">

        <h1 class="display-1 text-center">Comunidad</h1>
    
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur debitis similique officiis perferendis hic, corrupti beatae. Quibusdam vel nobis a ipsam magni debitis neque, atque minima esse quia, ipsa, quos quas totam recusandae sunt. Assumenda, obcaecati reiciendis? Pariatur neque saepe dolores magni similique. Ducimus a corrupti vitae, recusandae veritatis atque.
        </p>
    </section>
</main> -->

<br>
<br>
<main class="container py-5">
    <section class="card card-body">
        <h1>Noticias publicadas por la comunidad</h1>
    </section>
</main> 

<main class="container py-5">
    <section class="card card-body">
        <ul>
            {% for noticia in noti %}
            
                <main class="container py-5">
                    <section class="card card-body">
                        <h1 class="text-center">{{noticia.titulo}}</h1>
                        <h6 class="text-center">Descripcion:</h6>
                        <p class="text-center">{{noticia.descripcion}}</p>
                        <a class="text-center" href="{{noticia.url}}">Link de noticia</a>
                        
                        <a class="text-center" href="{{noticia.url_img}}">Link de foto</a>
                        <br>
                        <p class="text-center">Por->{{noticia.usuario}}</p>
                        <form class="text-center" action="{% url 'agregar_like' noticia.id user %}" method="post">
                            {% csrf_token %}
                            {% if user in noticia.laikeros %}
                                <button>Dislike</button>
                            {% else %}
                                <button>like</button>
                            {% endif %}

                            
                            <small>{{noticia.likes}}</small>
                        </form>
                    </section>
                </main>    

            {% endfor %}
        </ul>
    </section>
</main>
{% endblock %} 