{% extends 'base.html' %}


{% block content %}
<br>
<br>
<main class="container py-5">
    <section class="card card-body">

        <h1 class="display text-center">Perfil del usuario</h1>
        <b>Nombre de usuario:</b> {{user}}
        <b>Número de publicaciones:</b> {{num_publicaciones}}
        <b>Veces que se han compartido tus noticias:</b> {{compartidos}}
        <b>Total de 'Me gusta' recibidos:</b> {{total_likes}}
        <b>Tu noticia con mayor interacción:</b>
    </section>
    <br>
    <a class="btn btn-secondary" href="/mipost/">
        Ir a 'Mis noticias'
    </a>
    <br>
    
    <br>
    <br>
    <div id="general">
        <div id="publicarnoticia">
            <form action="/inicio/" method="POST" class="card card-body">
                <h1 class="display text-center">Publicar una noticia</h1>
                {% csrf_token %}
                <p>Aquí podrás subir noticias relacionadas con el cambio climático para que sean publicadas en la pestaña Comunidad. Deben contener un título, descripción, enlace a la noticia y un enlace de la imagen a mostrar.</p>
                {% if error %}
                    {{error}}<br>
                    <br>
                {% endif %}
                <div class="mb-3">
                    <label for="titulo"><b>Título de la noticia</b></label>
                    <input type="text" name="titulo" id="titulo" class="form-control" placeholder="Escribe el título de la noticia" required=True>
                </div>
                <div class="mb-3">
                    <label for="descripcion"><b>Descripción de la noticia</b></label>
                    <input type="text" name="descripcion" id="descripcion" class="form-control" placeholder="Escribe una breve descripción de la noticia (máx. 200 carácteres)" required=True>
                </div>
                <div class="mb-3">
                    <label for="url"><b>URL</b></label>
                    <input type="text" name="url" id="url" class="form-control" placeholder="URL" required=True>
                </div>
                <div class="mb-3">
                    <label for="url_img"><b>URL de imagen a mostrar</b></label>
                    <input type="text" name="url_img" id="url_img" class="form-control" placeholder="URL" required=True>
                </div>
            
                <button class="btn btn-primary">
                    Enviar
                </button>
            
            </form>
        </div>
    </div>
</main>

{% endblock %}