{% extends 'base.html' %}


{% block content %}
<br>
<br>
<main class="container py-5">
    <section class="card card-body">

        <h1 class="display-1 text-center">Perfil del usuario</h1>
    
        <p>
            Lore ipsum dolor sit amet, consectetur adipisicing elit. Consequatur debitis similique officiis perferendis hic, corrupti beatae. Quibusdam vel nobis a ipsam magni debitis neque, atque minima esse quia, ipsa, quos quas totam recusandae sunt. Assumenda, obcaecati reiciendis? Pariatur neque saepe dolores magni similique. Ducimus a corrupti vitae, recusandae veritatis atque.
        </p>
    </section>
    <br>
    <br>
    <div id="general">
        <div id="publicarnoticia">
            <form action="/inicio/" method="POST" class="card card-body">
                <h1 class="text-center">Publicar una noticia</h1>
            
                {{error}}
                {% csrf_token %}
            
                <div class="mb-3">
                    <label for="titulo">Título de la noticia</label>
                    <input type="text" name="titulo" id="titulo" class="form-control" placeholder="Escribe el título de la noticia">
                </div>
                <div class="mb-3">
                    <label for="descripcion">Descripción de la noticia</label>
                    <input type="text" name="descripcion" id="descripcion" class="form-control" placeholder="Escribe una breve descripción de la noticia (máx. 200 carácteres)">
                </div>
                <div class="mb-3">
                    <label for="url">URL</label>
                    <input type="text" name="url" id="url" class="form-control" placeholder="URL">
                </div>
                <div class="mb-3">
                    <label for="url_img">URL de imagen a mostrar</label>
                    <input type="text" name="url_img" id="url_img" class="form-control" placeholder="URL">
                </div>
            
                <button class="btn btn-primary">
                    Enviar
                </button>
            
            </form>
        </div>
    </div>
</main>

{% endblock %}