{% extends 'base.html' %}


{%block content%}
<br>
<br>
<main class="container py-5">
    <section class="card card-body">
    <h1>Mis publicaciones</h1>
    </section>
</main>
<br>
<br>
<main class="container py-5">
    <section class="card card-body">
        <ul>
            {{error}}
            {% if post != None %}
                {% for posts in post %}
                    <li>
                        <a href="{% url 'unasola' posts.id %}">
                            <h1>{{posts.titulo}}</h1>
                            <p>{{posts.descripcion}}</p>
                            <a href="{{posts.url}}">Link de noticia</a>
                            <br>
                            <a href="{{posts.url_img}}">Link de foto</a>
                            <br>
                            <p>{{noticia.usuario}}</p>
                        
                        </a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </section>
</main>
{%endblock%}