{% extends 'base.html' %}


{%block content%}
<br>
<br>
<main class="container py-5">
    <section class="card card-body">
    <h1>{{una.titulo}}</h1>

    {{error}}

    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button>
            Actualizar noticia
        </button>
    </form>
    <br>
        
    <form action="{% url 'delete' una.id %}" method="post">
        {% csrf_token %}
        <button>
            Eliminar noticia
        </button>
    </form>
    

    </section>
</main>
{%endblock%}